<div class="shake-form-overlay">
    <div class="shake-form-overlay" ng-click="$emit('closeModalShakeWindowEvent')"></div>
    <div layout="row" stop-event>
            <div class="shake-form-container" ng-class="{'in': animate}">
                    <img src="assets/img/closeIcon.png" style="position: absolute; top: -15px; right: -15px; z-index: 2000; cursor: pointer;" ng-click="$emit('closeModalShakeWindowEvent')">
               <div modal-transclude></div>
            </div>
    </div>
</div>