body {
/*    background: #158fef; */
}

.space
{
    margin: 0 2px 0 2px;
}

.top-button
{
    width: 110px;
    min-width: 110px;
    max-width: 110px;
}

.rowClass {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }

md-sidenav.md-locked-open.menu
{
    width: 200px !important;
    min-width: 200px !important;
    max-width: 200px !important;
}

.md-toolbar-tools.menu-title, md-toolbar.menu-title
{
    height: 30px !important;
    min-height: 30px !important;
    max-height: 30px !important;
    font-size: 16px;
    text-transform: uppercase;
}

.menu-list md-item-content {
    line-height: 35px;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.menu-list md-item-content a
{
    border-top: 1px rgba(1, 1, 1, 0.1) solid;
    font-size: 14px;
    font-weight: 300;
    color: #696969;
    width: 100%;
    padding-left: 10px;
}

.menu-list md-item-content a span
{
    padding-left: 5px;
}

.menu-list md-item-content a:hover
{
    background: #EDEDED;
    cursor: pointer;
}

.icon.team {
    background-position: -7px 0px !important;
}