#search {
    border:none;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    -webkit-box-shadow:0 0 5px #666 inset;
    -moz-box-shadow:0 0 5px #666 inset;
    box-shadow:0 0 5px #666 inset;
    height:38px;
    line-height:38px;
    width:600px;
    text-indent:5px;
    margin-left: 20px;
    margin-bottom: 0px;
}