<div role="tabpanel">
<md-toolbar class="md-primary md-hue-1">
    <h1 class="md-toolbar-tools">
        Forgot Password
    </h1>
</md-toolbar>
<div>
    <md-content class="md-padding">
        <form name="projectForm">
            <md-icon class="form-icon-36" md-svg-icon="buxNextClientCore:email"></md-icon>
            <md-input-container>
                <label>Email</label>
                <input md-maxlength="30" required name="username" ng-model="userSignupModel.username">
            </md-input-container>
        </form>
    </md-content>
    <md-toolbar class="md-primary md-hue-1 content-toolbar-footer">
        <h1 class="md-toolbar-tools">
            <div flex></div><md-button class="md-accent md-raised top-button" ui-sref="main.anon.authFunctions.signup"><md-icon md-svg-icon="buxNextClientCore:thumbsup"></md-icon><span class="space"></span>Sign Up</md-button>
        </h1>
    </md-toolbar>
</div>
</div>